* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  flex: 1 1 auto;
  background-color: var(--color-bg-layout);
}

#root {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
